@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "rubik", sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    background-color: #17ead9;   
}
.logo a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.logo a:hover {
    color: white;
}

.barranav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.barranav button{
    background-color: #17ead9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.barranav button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #17ead9;
}   
.principaltexto {
    width: 600px;
    padding: 20px;
}
.principaltexto1 h1{
    font-family: "rubik" sans-serif;
    font-size: 50px;
    color: white;
    font-weight: 200;
}
.principaltexto2 h2{
    font-family: "rubik" sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 300;
}
.principalboton a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
}
.habilidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.habilidades div{
    
}
.habilidad1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: white;
    padding: 20px;
    width: 280px; 
    height: 250px; 
    background-color: #fff;
}
.habilidad2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: white;
    padding: 20px;
    width: 280px; 
    height: 250px; 
}
.habilidad3 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background: white;
    padding: 20px;
    width: 280px; 
    height: 250px; 
}
.boton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botonhabilidades{
    border-radius: 5px;
    background-color: #6078ea;
    padding-top: 20px;
    padding-bottom: 20px;
}
.botonhabilidades a{
    margin: 70px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
}
.botonhabilidades:hover {
    border-radius: 5px;
    background-color: #17ead9;
}
.trabajos {
    display: flex;
    flex-direction: row;
}
.trabajosimg img{
    height: 300px;
    width: 600px;
}
.trabajostexto {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}
.trabajos2 {
    display: flex;
    flex-direction: row;
}
.trabajosimg2 img{
    height: 300px;
    width: 600px;
}
.trabajostexto2 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}
.trabajos3 {
    display: flex;
    flex-direction: row;
}
.trabajosimg3 img{
    height: 300px;
    width: 600px;
}
.trabajostexto3 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;
}